<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: hsl(0, 0%, 20%); color: white;">
    <form action="/submit-data" method="post">
        <label for="">Nom</label><br>
        <input type="text" name="nom"><br>
        <label for="">Prénom</label><br>
        <input type="text" name="prenom"><br>
        <label for="">Email</label><br>
        <input type="email" name="email"><br>
        <label for="">Message</label><br>
        <textarea name="message" id="" cols="30" rows="3" style="resize:none"></textarea><br>

        <input type="submit" value="Envoyer">
    </form>
</body>
</html>